@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Righteous&family=Staatliches&family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0&family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@48,700,1,0&display=swap');

:root {
    --nunito-font-family: Nunito, system-ui, "Segoe UI", Roboto, Helvetica, Arial,
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --righteous-font-family: Righteous, system-ui, "Segoe UI", Roboto, Helvetica, Arial,
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --staatliches-font-family: Staatliches, system-ui, "Segoe UI", Roboto, Helvetica, Arial,
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;

    --memory-card-max-width: 60rem;
    --memory-card-min-height: 50rem;
}

.MemoryCard {
    justify-self: center;
    display: grid;
    grid-template-rows: auto auto 1fr auto;

    background-color: white;
    border-radius: 12px;
    box-shadow: 0px 4px 5px -0px rgba(0, 0, 0, 0.3);
    width: calc(min(100vw, var(--memory-card-max-width, 60rem)));
    min-height: var(--memory-card-min-height, 50rem);
}

.MemoryCard .memory-card-title {
    justify-self: center;

    font-family: var(--staatliches-font-family);
    font-size: 3rem;
    color: black;
    padding: 0.4rem 0.2rem;
    margin: 0rem;
}

.MemoryCard .memory-card-scores-container {
    justify-self: center;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.MemoryCard .memory-card-current-score,
.MemoryCard .memory-card-high-score {
    font-family: var(--nunito-font-family);
    color: black;
    padding: 0rem;
    margin: 0rem;
}

.MemoryCard .memory-card-cards-container {
    align-self: center;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.4rem;

    height: auto;
    padding: 1rem;
}

.MemoryCard .memory-card-quantity-slider-container {
    justify-self: center;
}

.MemoryCard .memory-card-quantity-slider-container .SliderBasic {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;
}

.MemoryCard .memory-card-quantity-slider-container .SliderBasic .SliderBasic-label {
    font-family: var(--nunito-font-family);
    color: black;
    font-weight: bold;
}

.MemoryCard .memory-card-quantity-slider-container .SliderBasic .SliderBasic-input {
    width: 20rem;
}

.MemoryCard .memory-card-buttons-container {
    justify-self: center;

    display: flex;
    gap: 1rem;

    padding: 1rem;
}

.MemoryCard .memory-card-button-reset {
    border-radius: 0.3rem;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
    padding: 0.2rem 0.4rem;
    min-width: 10rem;
    min-height: 2rem;
    background-color: #cf971e;
}
.MemoryCard .memory-card-button-reset:hover {
    background-color: #dda837;
}
.MemoryCard .memory-card-button-reset:active {
    background-color: #c48b0f;
}